table{
	position: relative;
	padding-top: 10%;
	text-align: center;
}
table tr:nth-child(even){
	color: white;
	background-color: #9900cc;
}

tr:hover{
	background-color:#d9d9d9;
}

th,td{
	border-bottom: 1px solid #ddd;
}

.container{
	background: #0f0f0;
	padding: 5px;
	font-family: "Times New Roman", Times, serif;
	color: #000;

}

/* Main site body */
.wrapper {
    width: 940px;
    margin: 0 auto;
    position: relative; /* Ensure absolute positioned child elements are relative to this */
}

/* Absolute positioned wrapper for the element you want to fix position */
.fixed-wrapper {
    width: 220px;
    position: absolute;
    top: 0;
    left: -240px; /* Move this out to the left of the site body, leaving a 20px gutter */
}

/* The element you want to fix the position of */
.fixed {
    width: 220px;
    position: absolute;
    left: 7%;
    padding: 10px;  
    overflow: auto;
    /* Do not set top / left! */
}
button{
	padding-top: 10%;
	
}

ul{
	position:fixed;
	border: 1px solid #e7e7e7;
	top:0;
	list-style-type:none;
	margin: 0;
	padding: 0;
	padding-top: 2%;
	background-color: #9900cc;
	overflow:hidden;
	width: 100%;
	height: 5%;
	font-weight: bold;
}

li{
	display:inline;
	padding: 5%;
}

li a{
	color: white;
	padding-top:5%;
}

li:first-child{
	border-right: 1px solid white;
}

li:last-child{
	text-align: right;
}

.active{
	background-color:#8600b3;
}